@charset "UTF-8";
/* line 3, ../sass/admin-style.scss */
.launchpad-metabox-field {
  margin-bottom: 1em;
}
/* line 6, ../sass/admin-style.scss */
.launchpad-metabox-field label {
  display: block;
}
/* line 10, ../sass/admin-style.scss */
.launchpad-metabox-field input[type=text],
.launchpad-metabox-field input[type=email],
.launchpad-metabox-field input[type=date],
.launchpad-metabox-field input[type=datetime],
.launchpad-metabox-field input[type=tel],
.launchpad-metabox-field input[type=time],
.launchpad-metabox-field input[type=url],
.launchpad-metabox-field select,
.launchpad-metabox-field textarea {
  display: block;
  width: 100%;
}
/* line 23, ../sass/admin-style.scss */
.launchpad-metabox-field textarea.small-text {
  height: 3em;
}
/* line 27, ../sass/admin-style.scss */
.launchpad-metabox-field label > small {
  display: block;
}

/* line 32, ../sass/admin-style.scss */
.launchpad-metabox-fieldset {
  border: 1px solid #DDD;
  clear: both;
  margin-bottom: 1em;
  padding: 1em 1em 0% 1em;
}
/* line 38, ../sass/admin-style.scss */
.launchpad-metabox-fieldset legend {
  padding: 0 1em;
}

/* line 43, ../sass/admin-style.scss */
.launchpad-address {
  margin-top: .25em;
}
/* line 46, ../sass/admin-style.scss */
.launchpad-address div {
  margin-bottom: 1em;
}
/* line 50, ../sass/admin-style.scss */
.launchpad-address .launchpad-csz-container {
  overflow: hidden;
  width: 100%;
}
/* line 54, ../sass/admin-style.scss */
.launchpad-address .launchpad-csz-container > div {
  float: left;
  margin-bottom: 0em;
  margin-left: 5%;
  width: 20%;
}
/* line 61, ../sass/admin-style.scss */
.launchpad-address .launchpad-csz-container > div:first-child {
  margin-left: 0;
  width: 50%;
}
/* line 66, ../sass/admin-style.scss */
.launchpad-address .launchpad-csz-container small {
  display: none;
}

/* line 72, ../sass/admin-style.scss */
.launchpad-google-map-embed > div {
  background: #EAE6DD;
  line-height: 200px;
  text-align: center;
}
/* line 77, ../sass/admin-style.scss */
.launchpad-google-map-embed > div.small-notice {
  line-height: 40px;
  opacity: .5;
}

/* line 83, ../sass/admin-style.scss */
table.launchpad-metabox-table {
  border-bottom: 1px solid #21759B;
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}
/* line 89, ../sass/admin-style.scss */
table.launchpad-metabox-table caption {
  font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
  font-size: 15px;
  padding: 1em;
}
/* line 95, ../sass/admin-style.scss */
table.launchpad-metabox-table th {
  border-bottom: 1px solid #21759B;
}
/* line 99, ../sass/admin-style.scss */
table.launchpad-metabox-table th,
table.launchpad-metabox-table td {
  padding: 5px;
  text-align: center;
}

/* line 106, ../sass/admin-style.scss */
.launchpad-align-right {
  text-align: right;
}

/* line 110, ../sass/admin-style.scss */
.launchpad-subfield {
  display: block;
  margin-bottom: 14px;
}
/* line 115, ../sass/admin-style.scss */
td > .launchpad-subfield {
  width: 25em;
}
/* line 119, ../sass/admin-style.scss */
.launchpad-subfield.launchpad-field-launchpad_flexible {
  width: auto;
}
/* line 123, ../sass/admin-style.scss */
.launchpad-subfield input, .launchpad-subfield select, .launchpad-subfield textarea {
  display: block;
  width: 100%;
}
/* line 128, ../sass/admin-style.scss */
.launchpad-subfield input[type=checkbox],
.launchpad-subfield input[type=radio] {
  display: inline-block;
  width: auto;
}

/* line 135, ../sass/admin-style.scss */
.launchpad-subfield + .launchpad-block {
  margin-bottom: 14px;
  margin-top: -10px;
}

/* line 140, ../sass/admin-style.scss */
.launchpad-block {
  display: block;
  font-weight: normal;
}

/* line 145, ../sass/admin-style.scss */
.launchpad-inline {
  display: inline-block;
  font-weight: normal;
}

/* line 150, ../sass/admin-style.scss */
small.launchpad-inline {
  margin-left: .5em;
}

/* line 154, ../sass/admin-style.scss */
.launchpad-subfield.phone-number {
  float: left;
  margin-right: 1em;
  width: 12em;
}

/* line 159, ../sass/admin-style.scss */
.launchpad-subfield.fax-number {
  float: left;
  width: 12em;
}

/* line 164, ../sass/admin-style.scss */
.launchpad-subfield.street-address {
  clear: both;
}

/* line 168, ../sass/admin-style.scss */
.launchpad-subfield.city {
  float: left;
  margin-right: 1em;
  width: 12em;
}

/* line 174, ../sass/admin-style.scss */
.launchpad-subfield.state {
  float: left;
  margin-right: 1em;
  width: 6em;
}

/* line 179, ../sass/admin-style.scss */
.launchpad-subfield.zip {
  float: left;
  width: 4em;
}

/* line 184, ../sass/admin-style.scss */
.launchpad-delete-file {
  background: #EFEFEF;
  border: 1px solid silver;
  display: block;
  margin-top: .5em;
  padding: 1em;
  padding-top: 2em;
  position: relative;
  text-align: center;
}

/* line 195, ../sass/admin-style.scss */
.launchpad-delete-file:before {
  color: #000;
  content: '× Click To Remove';
  display: block;
  font-size: 10px;
  line-height: 1.5em;
  padding: 0px 5px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
}

/* line 209, ../sass/admin-style.scss */
.launchpad-delete-file > * {
  height: auto;
  max-width: 150px;
  width: auto;
}

/* line 215, ../sass/admin-style.scss */
.launchpad-full-button {
  display: block;
  width: 100%;
}

/* line 222, ../sass/admin-style.scss */
.launchpad-help-container dt {
  font-weight: bold;
  margin-bottom: .5em;
}
/* line 227, ../sass/admin-style.scss */
.launchpad-help-container dd {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  margin-left: 0;
  padding-left: 1em;
}
/* line 236, ../sass/admin-style.scss */
.launchpad-help-container dd p {
  margin-top: 0;
  margin-bottom: 1em;
}

/* line 244, ../sass/admin-style.scss */
.launchpad-inline-help {
  font-size: 11px;
  position: relative;
}
/* line 248, ../sass/admin-style.scss */
.launchpad-inline-help * {
  font-size: 11px;
}
/* line 252, ../sass/admin-style.scss */
.launchpad-inline-help span {
  background: #EFEFEF;
  border: 1px solid silver;
  border-radius: 1.5em;
  color: gray;
  cursor: help;
  display: inline-block;
  float: right;
  position: relative;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.5em;
  margin-left: 1em;
  text-align: center;
  width: 1.5em;
  z-index: 5;
}
/* line 270, ../sass/admin-style.scss */
.launchpad-inline-help div {
  background: #EFEFEF;
  border: 1px solid silver;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  display: none;
  font-size: 10px;
  padding: 15px;
  position: absolute;
  right: -10px;
  top: 2.25em;
  width: 300px;
  z-index: 10;
}
/* line 283, ../sass/admin-style.scss */
.launchpad-inline-help div:before {
  border-color: transparent transparent silver transparent;
  border-style: solid;
  border-width: 0 5px 5px 5px;
  content: '';
  height: 0px;
  position: absolute;
  right: 12px;
  top: -5px;
  width: 0px;
}
/* line 295, ../sass/admin-style.scss */
.launchpad-inline-help div:after {
  border-color: transparent transparent #EFEFEF transparent;
  border-style: solid;
  border-width: 0 4px 4px 4px;
  content: '';
  height: 0px;
  position: absolute;
  right: 13px;
  top: -4px;
  width: 0px;
}
/* line 307, ../sass/admin-style.scss */
.launchpad-inline-help div p {
  margin-bottom: 1em;
  margin-top: 0;
}
/* line 312, ../sass/admin-style.scss */
.launchpad-inline-help div :last-child {
  margin-bottom: 0;
}
/* line 316, ../sass/admin-style.scss */
.launchpad-inline-help div dt {
  display: run-in;
  font-weight: bold;
}
/* line 320, ../sass/admin-style.scss */
.launchpad-inline-help div dt:after {
  content: ': ';
}
/* line 325, ../sass/admin-style.scss */
.launchpad-inline-help div dd {
  margin-left: 0;
}
/* line 330, ../sass/admin-style.scss */
.launchpad-inline-help span:hover + div {
  display: block;
}
/* line 334, ../sass/admin-style.scss */
.launchpad-inline-help ul {
  list-style-type: disc;
  padding-left: 2em;
}

/* line 342, ../sass/admin-style.scss */
.launchpad-flexible-add:after {
  clear: both;
  content: '';
  display: table;
}
/* line 349, ../sass/admin-style.scss */
.launchpad-flexible-add div {
  float: right;
  padding-top: 1em;
  position: relative;
}
/* line 354, ../sass/admin-style.scss */
.launchpad-flexible-add div:hover ul {
  display: block;
}
/* line 359, ../sass/admin-style.scss */
.launchpad-flexible-add button {
  min-width: 200px;
}
/* line 363, ../sass/admin-style.scss */
.launchpad-flexible-add ul {
  background: #222;
  border: 1px solid #000;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 1.75em;
  min-width: 200px;
  z-index: 10;
}
/* line 375, ../sass/admin-style.scss */
.launchpad-flexible-add ul:before {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  content: '';
  height: 0px;
  position: absolute;
  right: 12px;
  bottom: -5px;
  width: 0px;
}
/* line 387, ../sass/admin-style.scss */
.launchpad-flexible-add ul:after {
  border-color: #222 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  content: '';
  height: 0px;
  position: absolute;
  right: 13px;
  bottom: -4px;
  width: 0px;
}
/* line 399, ../sass/admin-style.scss */
.launchpad-flexible-add ul li {
  display: block;
  margin: 0;
}
/* line 403, ../sass/admin-style.scss */
.launchpad-flexible-add ul li:hover {
  background: #000;
}
/* line 408, ../sass/admin-style.scss */
.launchpad-flexible-add ul a {
  color: #EEE;
  display: block;
  padding: 10px 10px;
  text-decoration: none;
}
/* line 414, ../sass/admin-style.scss */
.launchpad-flexible-add ul a span {
  color: #AAAAAA;
  display: inline-block;
  font-size: 1.25em;
  line-height: 1;
  margin-right: .4em;
}
/* line 421, ../sass/admin-style.scss */
.launchpad-flexible-add ul a span:before {
  vertical-align: bottom;
}
/* line 426, ../sass/admin-style.scss */
.launchpad-flexible-add ul a:hover, .launchpad-flexible-add ul a:hover span {
  color: #2ea2cc;
}

/* line 434, ../sass/admin-style.scss */
.launchpad-flexible-container-placeholder {
  border: 5px dashed gray;
  margin: 2em 1em;
}

/* line 439, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container {
  background: #FDFDFD;
  border: 1px solid #DDD;
  margin: 2em 1em;
  padding-bottom: 1em;
}
/* line 445, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container.closed {
  height: 22px;
  overflow: hidden;
}
/* line 449, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container.closed .handlediv::before {
  content: '\f140' !important;
}
/* line 453, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container.closed .launchpad-inline-help {
  visibility: hidden;
}
/* line 458, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container > .launchpad-inline-help {
  display: inline-block;
  float: left;
  margin-right: 1em;
  margin-top: .75em;
}
/* line 464, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container > .launchpad-inline-help div {
  left: 0px;
  right: auto;
}
/* line 468, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container > .launchpad-inline-help div:before {
  left: 12px;
  right: auto;
}
/* line 473, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container > .launchpad-inline-help div:after {
  left: 13px;
  right: auto;
}
/* line 480, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container .launchpad-flexible-metabox-close {
  color: inherit;
  float: right;
  font-size: 14px;
  line-height: 36px;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  width: 2em;
}
/* line 491, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container h3 {
  margin-bottom: 3em;
}
/* line 495, ../sass/admin-style.scss */
.launchpad-flexible-metabox-container .launchpad-metabox-field {
  padding: .5em 2em;
}

/* line 501, ../sass/admin-style.scss */
.launchpad-flexible-container .launchpad-repeater-container {
  margin: .5em -2em;
}
/* line 505, ../sass/admin-style.scss */
.launchpad-inline-help + .launchpad-repeater-container {
  clear: both;
}
/* line 509, ../sass/admin-style.scss */
.launchpad-repeater-container .launchpad-repeater-metabox-container {
  margin: 0;
  margin-bottom: -1px;
}

/* line 515, ../sass/admin-style.scss */
.launchpad-repeater-container div:first-child .launchpad-flexible-metabox-close {
  display: none;
}

/* line 520, ../sass/admin-style.scss */
.launchpad-repeater-container.launchpad-metabox-field + .launchpad-repeater-container.launchpad-metabox-field {
  border-top: 1px solid #DDD;
  padding-top: 1em;
}

/* line 525, ../sass/admin-style.scss */
.launchpad-editor-loading {
  background: #EFEFEF url(/images/admin_loading.gif) no-repeat center;
  height: 300px;
}
/* line 529, ../sass/admin-style.scss */
.launchpad-editor-loading * {
  display: none;
}

/* line 534, ../sass/admin-style.scss */
.launchpad-relationship-container {
  background: #FFF;
  border: 1px solid #DDDDDD;
  margin-top: .5em;
  overflow: hidden;
}
/* line 540, ../sass/admin-style.scss */
.launchpad-relationship-container > * {
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 50%;
}
/* line 546, ../sass/admin-style.scss */
.launchpad-relationship-container > *:last-child {
  margin-right: 0;
}
/* line 550, ../sass/admin-style.scss */
#side-sortables .launchpad-relationship-container > * {
  float: none;
  margin-right: auto !important;
  width: auto;
}
/* line 557, ../sass/admin-style.scss */
.launchpad-relationship-container input[type=search] {
  border-radius: 2em;
  display: block;
  margin: 0;
  padding-left: 1em;
  width: 100%;
}
/* line 565, ../sass/admin-style.scss */
.launchpad-relationship-container a {
  display: block;
  overflow: hidden;
}
/* line 570, ../sass/admin-style.scss */
.launchpad-relationship-container .launchpad-relationship-search {
  background: #EFEFEF;
  border-right: 1px solid #DDDDDD;
}
/* line 574, ../sass/admin-style.scss */
#side-sortables .launchpad-relationship-container .launchpad-relationship-search {
  border-bottom: 1px solid #DDDDDD;
  border-right: 0;
}
/* line 579, ../sass/admin-style.scss */
.launchpad-relationship-container .launchpad-relationship-search > label {
  display: block;
  height: 2.25em;
  margin: 0;
  margin-bottom: .5em;
}
/* line 586, ../sass/admin-style.scss */
.launchpad-relationship-container .launchpad-relationship-search a:before {
  content: '\f502';
  display: inline-block;
  font-family: dashicons;
  font-size: .75em;
  margin-right: 1em;
}
/* line 596, ../sass/admin-style.scss */
.launchpad-relationship-container .launchpad-relationship-items-container {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05);
}
/* line 599, ../sass/admin-style.scss */
#side-sortables .launchpad-relationship-container .launchpad-relationship-items-container {
  box-shadow: none;
}
/* line 603, ../sass/admin-style.scss */
.launchpad-relationship-container .launchpad-relationship-items-container > strong {
  display: block;
  line-height: 2.25em;
  margin: 0;
  margin-bottom: .5em;
}
/* line 612, ../sass/admin-style.scss */
.launchpad-relationship-container ul {
  height: 150px;
  margin: 0em -1em;
  overflow: auto;
  position: relative;
}
/* line 618, ../sass/admin-style.scss */
.launchpad-relationship-container ul li {
  background: transparent;
  margin: 0;
  -webkit-transition: background .5s ease;
  -moz-transition: background .5s ease;
  -ms-transition: background .5s ease;
  transition: background .5s ease;
}
/* line 627, ../sass/admin-style.scss */
.launchpad-relationship-container ul li a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
}
/* line 634, ../sass/admin-style.scss */
.launchpad-relationship-container ul li:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
}
/* line 639, ../sass/admin-style.scss */
.launchpad-relationship-container small {
  float: right;
  color: rgba(0, 0, 0, 0.25);
}

/* line 645, ../sass/admin-style.scss */
dl.launchpad-inline-listing {
  text-align: left;
}
/* line 649, ../sass/admin-style.scss */
dl.launchpad-inline-listing dt {
  display: run-in;
  font-weight: 900;
}
/* line 653, ../sass/admin-style.scss */
dl.launchpad-inline-listing dt:after {
  content: ': ';
}
/* line 658, ../sass/admin-style.scss */
dl.launchpad-inline-listing dd {
  margin-bottom: 1em;
  margin-left: 0;
}

/* line 664, ../sass/admin-style.scss */
.launchpad-serp-preview {
  background: #FFF;
  border: 1px solid #DDD;
  color: #545454;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 1em;
}
/* line 673, ../sass/admin-style.scss */
.launchpad-serp-preview * {
  max-width: 531px;
}
/* line 677, ../sass/admin-style.scss */
.launchpad-serp-preview .launchpad-serp-heading {
  color: #1a0dab;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 687, ../sass/admin-style.scss */
.launchpad-serp-preview .launchpad-serp-url {
  color: #006621;
  line-height: 16px;
}

/* line 693, ../sass/admin-style.scss */
.launchpad-hr {
  margin-bottom: 2em;
  margin-top: 2em;
}

/* line 698, ../sass/admin-style.scss */
.launchpad-table-columns {
  display: table;
  table-layout: fixed;
  width: 100%;
}
/* line 703, ../sass/admin-style.scss */
.launchpad-table-columns > * {
  display: table-cell;
}

/* line 708, ../sass/admin-style.scss */
#poststuff h3.launchpad-sub-section-heading,
h3.launchpad-sub-section-heading {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 0;
}

/* line 716, ../sass/admin-style.scss */
.launchpad-statistics-list .dashicons-yes {
  color: green;
}
/* line 719, ../sass/admin-style.scss */
.launchpad-statistics-list .dashicons-no {
  color: red;
}
/* line 722, ../sass/admin-style.scss */
.launchpad-statistics-list .dashicons-visibility {
  color: #ffa300;
}

/* line 727, ../sass/admin-style.scss */
#wp-auth-check-wrap .wp-auth-check-close {
  top: 3px;
}

/* line 733, ../sass/admin-style.scss */
body.login {
  background: #333;
  overflow: auto;
}
/* line 737, ../sass/admin-style.scss */
body.login:after, body.login:before {
  content: ' ';
  display: block;
  height: 80px;
}
/* line 744, ../sass/admin-style.scss */
body.login #nav a:hover,
body.login #backtoblog a:hover,
body.login #nav a:focus,
body.login #backtoblog a:focus,
body.login a:active {
  color: #333;
}
/* line 752, ../sass/admin-style.scss */
body.login .wp-core-ui .button-primary,
body.login .wp-core-ui .button-primary:hover,
body.login .wp-core-ui .button-primary:focus,
body.login .wp-core-ui .button-primary:active {
  background: #333;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
/* line 761, ../sass/admin-style.scss */
body.login .wp-core-ui .button-primary:hover,
body.login .wp-core-ui .button-primary:focus,
body.login .wp-core-ui .button-primary:active {
  opacity: .75;
}
/* line 767, ../sass/admin-style.scss */
body.login #login {
  background: #F6F6F6;
  border: 15px solid rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  width: auto;
  max-width: 480px;
}
/* line 779, ../sass/admin-style.scss */
body.login #login > h1 {
  margin-bottom: 1em;
}
/* line 784, ../sass/admin-style.scss */
body.login div#login h1 a {
  margin-bottom: 0;
}
/* line 788, ../sass/admin-style.scss */
body.login form {
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 12px;
  padding-bottom: 26px;
}
/* line 795, ../sass/admin-style.scss */
body.login #nav {
  float: right;
  margin: 0;
  padding: 0;
}
/* line 800, ../sass/admin-style.scss */
body.login #backtoblog {
  margin: 0;
  padding: 0;
}
/* line 805, ../sass/admin-style.scss */
body.login .message,
body.login #login_error {
  background: #EFEFEF;
  box-shadow: none;
  border: 1px solid gray;
  margin-left: 24px;
  margin-right: 24px;
  text-align: center;
}
/* line 815, ../sass/admin-style.scss */
body.login.interim-login #login {
  margin: auto;
}
@media (max-width: 480px) {
  /* line 820, ../sass/admin-style.scss */
  body.login html, body.login body {
    height: 100%;
  }
  /* line 824, ../sass/admin-style.scss */
  body.login:after, body.login:before {
    display: none;
  }
  /* line 829, ../sass/admin-style.scss */
  body.login #login {
    border: 0;
    border-radius: 0;
    min-height: 100%;
  }
  /* line 835, ../sass/admin-style.scss */
  body.login .login form {
    border-radius: 0;
  }
  /* line 839, ../sass/admin-style.scss */
  body.login .login #nav {
    margin-right: 10px;
  }
  /* line 843, ../sass/admin-style.scss */
  body.login .login #backtoblog {
    margin-left: 10px;
  }
  /* line 847, ../sass/admin-style.scss */
  body.login.interim-login {
    height: 100%;
  }
  /* line 851, ../sass/admin-style.scss */
  body.login .interim-login #login {
    margin: auto;
    padding: .5em 2em;
  }
  /* line 856, ../sass/admin-style.scss */
  body.login .interim-login h1 a {
    margin-bottom: 0;
  }
}

/* line 862, ../sass/admin-style.scss */
.ui-datepicker {
  background: #FFF;
  border: 1px solid silver;
  padding: 10px;
}
/* line 867, ../sass/admin-style.scss */
.ui-datepicker .ui-datepicker-header {
  overflow: hidden;
}
/* line 871, ../sass/admin-style.scss */
.ui-datepicker .ui-datepicker-prev {
  float: left;
}
/* line 875, ../sass/admin-style.scss */
.ui-datepicker .ui-datepicker-next {
  float: right;
}
/* line 879, ../sass/admin-style.scss */
.ui-datepicker .ui-datepicker-title {
  font-weight: bold;
  text-align: center;
}
/* line 883, ../sass/admin-style.scss */
.ui-datepicker .ui-state-active {
  background: #DDD;
}
/* line 887, ../sass/admin-style.scss */
.ui-datepicker table a {
  display: block;
  line-height: 1.5;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
