@-webkit-viewport {
  user-zoom: fixed;
  width: device-width;
  zoom: 1.0;
}
@-moz-viewport {
  user-zoom: fixed;
  width: device-width;
  zoom: 1.0;
}
@-ms-viewport {
  user-zoom: fixed;
  width: device-width;
  zoom: 1.0;
}
@viewport {
  user-zoom: fixed;
  width: device-width;
  zoom: 1.0;
}
/* line 27, ../sass/_reset.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 32, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 53, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 57, ../sass/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 62, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 66, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* line 69, ../sass/_reset.scss */
html {
  font-family: sans-serif;
  font-size: 62.5%;
}

/* line 73, ../sass/_reset.scss */
body {
  line-height: 1;
  -webkit-font-feature-settings: "kern" "liga";
  -moz-font-feature-settings: "kern" "liga";
  -ms-font-feature-settings: "kern" "liga";
  font-feature-settings: "kern" "liga";
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 85, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 88, ../sass/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 92, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 95, ../sass/_reset.scss */
blockquote {
  quotes: none;
}

/* line 98, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 105, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 109, ../sass/_reset.scss */
b,
strong {
  font-weight: 700;
}

/* line 114, ../sass/_reset.scss */
i,
em,
dfn {
  font-style: italic;
}

/* line 120, ../sass/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 126, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 131, ../sass/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 139, ../sass/_reset.scss */
pre {
  white-space: pre-wrap;
}

/* line 143, ../sass/_reset.scss */
q,
q:lang(en) {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 148, ../sass/_reset.scss */
small {
  font-size: 80%;
}

/* line 152, ../sass/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 160, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 164, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 168, ../sass/_reset.scss */
img {
  border: 0;
}

/* line 172, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 176, ../sass/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  padding: .5em;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

/* line 182, ../sass/_reset.scss */
legend {
  margin-left: 1em;
  padding: 0px 1em;
}

/* line 187, ../sass/_reset.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 196, ../sass/_reset.scss */
button,
input {
  line-height: normal;
}

/* line 201, ../sass/_reset.scss */
button,
select {
  text-transform: none;
}

/* line 206, ../sass/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 214, ../sass/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 219, ../sass/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 226, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 233, ../sass/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 238, ../sass/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 244, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 251, ../sass/_reset.scss */
body {
  background: #FFF;
  color: #333;
  line-height: 16px;
  line-height: 1.6rem;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

/* line 266, ../sass/_reset.scss */
form, table, ul, ol, p, dl {
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

/* line 270, ../sass/_reset.scss */
ol, ul, blockquote {
  padding-left: 2em;
}

/* line 274, ../sass/_reset.scss */
ol {
  list-style-type: decimal;
}

/* line 278, ../sass/_reset.scss */
ul {
  list-style-type: circle;
}

/* line 282, ../sass/_reset.scss */
table {
  width: 100%;
}

/* line 286, ../sass/_reset.scss */
th {
  font-weight: 700;
}

/* line 290, ../sass/_reset.scss */
th, td {
  text-align: left;
  vertical-align: top;
}

/* line 295, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
}

/* line 300, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 304, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 308, ../sass/_reset.scss */
body > header h1 {
  margin: 0;
}

/* line 312, ../sass/_reset.scss */
nav ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

/* line 318, ../sass/_reset.scss */
.grid-item {
  background: rgba(0, 0, 255, 0.25);
  position: absolute;
  z-index: 201;
}

/* line 324, ../sass/_reset.scss */
.grid-item:nth-child(even) {
  background: rgba(0, 0, 255, 0.1);
}

/* line 328, ../sass/_reset.scss */
.grid-item.vertical {
  height: 100%;
  top: 0;
  width: 1px;
}

/* line 334, ../sass/_reset.scss */
.grid-item.horizontal {
  height: 1px;
  left: 0;
  width: 100%;
}

/* line 340, ../sass/_reset.scss */
.frontload {
  border: 0px !important;
  box-shadow: none !important;
  clip: auto !important;
  height: 0px  !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 0px !important;
}

/* line 344, ../sass/_reset.scss */
.admin-bar {
  margin-top: 28px;
}

/* line 348, ../sass/_reset.scss */
#apple-standalone-startup-image {
  background-size: cover;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
/* line 356, ../sass/_reset.scss */
#apple-standalone-startup-image img {
  display: block;
  width: 100%;
}

/* line 363, ../sass/_reset.scss */
#skip-to-content {
  padding: 5px 20px;
  padding: 0.5rem 2rem;
  background: #FFF;
  display: inline-block;
  left: 0;
  line-height: 1.5;
  position: absolute;
  top: 0;
  -webkit-transition: all .25s ease-in;
  -moz-transition: all .25s ease-in;
  transition: all .25s ease-in;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 100;
}

/* line 382, ../sass/_reset.scss */
#skip-to-content:focus,
#skip-to-content:active {
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* line 393, ../sass/_reset.scss */
.msie-8 ~ #skip-to-content {
  top: -100%;
}
/* line 396, ../sass/_reset.scss */
.msie-8 ~ #skip-to-content:focus, .msie-8 ~ #skip-to-content:active {
  top: 0;
}

/* line 1, ../sass/_typography.scss */
h1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 48px;
  line-height: 4.8rem;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

/* line 7, ../sass/_typography.scss */
h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 32px;
  line-height: 3.2rem;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
}

/* line 13, ../sass/_typography.scss */
h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 32px;
  line-height: 3.2rem;
  margin-bottom: 0;
}

/* line 19, ../sass/_typography.scss */
h4, h5, h6 {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 16px;
  line-height: 1.6rem;
  margin-bottom: 0;
}

/* line 1, ../sass/_objects.scss */
.ui-toggle {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 13, ../sass/_objects.scss */
.button {
  padding: 2px 10px;
  padding: 0.2rem 1rem;
  background: #EFEFEF;
  display: inline-block;
  text-decoration: none;
}

/* line 21, ../sass/_objects.scss */
.callout {
  padding: 10px;
  padding: 1rem;
  background: #E0E0E0;
}

/* line 27, ../sass/_objects.scss */
.skate {
  padding: 10px;
  padding: 1rem;
  border: 1px dotted gray;
}

/* line 33, ../sass/_objects.scss */
.alignleft {
  text-align: left;
}

/* line 37, ../sass/_objects.scss */
img.alignleft {
  display: block;
  float: left;
}

/* line 42, ../sass/_objects.scss */
.alignright {
  text-align: right;
}

/* line 46, ../sass/_objects.scss */
img.alignright {
  display: block;
  float: right;
}

/* line 51, ../sass/_objects.scss */
.aligncenter {
  text-align: center;
}

/* line 55, ../sass/_objects.scss */
img.aligncenter {
  display: block;
  margin: auto;
}

/* line 60, ../sass/_objects.scss */
.main img {
  height: auto;
  max-width: 100%;
}

/* line 68, ../sass/_objects.scss */
.gallery {
  margin-left: -3.125%;
}
/* line 307, ../sass/_mixins.scss */
.gallery:before {
  content: '';
  display: table;
}
/* line 312, ../sass/_mixins.scss */
.gallery:after {
  clear: both;
  content: '';
  display: table;
}
/* line 73, ../sass/_objects.scss */
.gallery > * {
  display: block;
  float: left;
  margin-left: 3.125%;
}
/* line 79, ../sass/_objects.scss */
.gallery img {
  display: block;
  height: auto;
  width: 100%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-1 > * {
  width: 96.875%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-2 > * {
  width: 46.875%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-3 > * {
  width: 30.20833%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-4 > * {
  width: 21.875%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-5 > * {
  width: 16.875%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-6 > * {
  width: 13.54167%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-7 > * {
  width: 11.16071%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-8 > * {
  width: 9.375%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-9 > * {
  width: 7.98611%;
}
/* line 88, ../sass/_objects.scss */
.gallery.gallery-columns-10 > * {
  width: 6.875%;
}

@-webkit-keyframes system-notification-swap {
  0% {
    -webkit-transform: translateY(100%);
  }
  10% {
    -webkit-transform: translateY(0px);
  }
  90% {
    -webkit-transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes system-notification-swap {
  0% {
    -moz-transform: translateY(100%);
  }
  10% {
    -moz-transform: translateY(0px);
  }
  90% {
    -moz-transform: translateY(0px);
  }
  100% {
    -moz-transform: translateY(100%);
  }
}
@-ms-keyframes system-notification-swap {
  0% {
    -ms-transform: translateY(100%);
  }
  10% {
    -ms-transform: translateY(0px);
  }
  90% {
    -ms-transform: translateY(0px);
  }
  100% {
    -ms-transform: translateY(100%);
  }
}
@keyframes system-notification-swap {
  0% {
    transform: translateY(100%);
  }
  10% {
    transform: translateY(0px);
  }
  90% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100%);
  }
}
/* line 168, ../sass/_objects.scss */
.system-notification {
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-animation: system-notification-swap .5s ease .5s 1 normal normal;
  -moz-animation: system-notification-swap .5s ease .5s 1 normal normal;
  -ms-animation: system-notification-swap .5s ease .5s 1 normal normal;
  animation: system-notification-swap .5s ease .5s 1 normal normal;
  background: #FFFCDB;
  border-top: 1px solid #CFCA99;
  bottom: 0;
  color: #666;
  color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  position: fixed;
  text-align: center;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  width: 100%;
  z-index: 999;
}
/* line 190, ../sass/_objects.scss */
.system-notification:first-letter {
  font-size: 1.2em;
  vertical-align: bottom;
}

/* line 196, ../sass/_objects.scss */
.page-navigate {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
/* line 227, ../sass/_mixins.scss */
.page-navigate > li {
  display: table-cell;
}
/* line 234, ../sass/_mixins.scss */
.page-navigate > li > a {
  display: inline-block;
}
/* line 239, ../sass/_mixins.scss */
.page-navigate li {
  position: relative;
}
/* line 242, ../sass/_mixins.scss */
.page-navigate li ul {
  display: block;
  position: absolute;
  visibility: hidden;
}
/* line 255, ../sass/_mixins.scss */
.page-navigate li ul li,
.page-navigate li ul a {
  display: block;
}
/* line 260, ../sass/_mixins.scss */
.page-navigate li ul li > ul,
.page-navigate li ul li:hover > ul,
.page-navigate li ul li.target > ul {
  left: 100%;
  top: 0;
}
/* line 268, ../sass/_mixins.scss */
.page-navigate li:hover > ul, .page-navigate li.target > ul {
  visibility: visible;
}
/* line 200, ../sass/_objects.scss */
.page-navigate > li {
  text-align: center;
}
/* line 204, ../sass/_objects.scss */
.page-navigate > li > a,
.page-navigate > li > span {
  display: block;
}
/* line 210, ../sass/_objects.scss */
.page-navigate > li.page-previous > a,
.page-navigate > li.page-previous > span {
  text-align: left;
}
/* line 217, ../sass/_objects.scss */
.page-navigate > li.page-next > a,
.page-navigate > li.page-next > span {
  text-align: right;
}
/* line 223, ../sass/_objects.scss */
.page-navigate:last-child {
  border-bottom: 0;
}
@media (max-width: 35.5em) {
  /* line 228, ../sass/_objects.scss */
  .page-navigate > li.page-number {
    display: none;
  }
  /* line 231, ../sass/_objects.scss */
  .page-navigate > li.page-number-current {
    display: table-cell;
  }
  /* line 234, ../sass/_objects.scss */
  .page-navigate > li.page-number-current span:before {
    content: "Page ";
  }
}

/* line 241, ../sass/_objects.scss */
.flexible-accordion-list dd {
  display: none;
}

/* line 245, ../sass/_objects.scss */
.flexible-accordion-list dt.target + dd {
  display: block;
}

/* line 249, ../sass/_objects.scss */
.flexible-accordion-list dt:target + dd {
  display: block;
}

/* line 7, ../sass/editor-style.scss */
.mceContentBody {
  padding: 20px;
}
