%frontload {
	border: 0px !important;
	box-shadow: none !important;
	clip: auto !important;
	height: 0px  !important;
	overflow: hidden !important;
	position: absolute !important;
	width: 0px !important;
}

%image-replace {
	clip: auto;
	overflow: hidden;
	position: relative;
	text-indent: 110%;
	white-space: nowrap;
}

%ugly-clearfix {
	
	&:before {
		content: ' ';
		display: table;
	}
	
	&:after {
		clear: both;
		content: ' ';
		display: table;
	}
}