// Hide from the browser.
%frontload {
	@include frontload;
}

// Prep an element for image replacement.
%image-replace {
	@include image-replace;
}

// The ugly way to clearfix.  The pretty one is overflow: hidden;
%ugly-clearfix {
	@include ugly-clearfix;
}

// Make a list not look like a list.
%unlist {
	list-style:none;
	margin-bottom: 0;
	padding: 0;
}

// Create a dropdown navigation.
%dropdown {
	@extend %unlist;
	
	display: block;
	white-space: nowrap;
	
	> li {
		display: inline;
		
		> a {
			display: inline-block;
		}
	}
	
	li {
		position: relative;
		
		ul {
			display: block;
			position: absolute;
			visibility: hidden;
			
			li,
			a {
				display: block;
			}
			
			li > ul,
			li:hover > ul,
			li.target > ul {
				left: 100%;
				top: 0;
			}
		}
		
		&:hover > ul,
		&.target > ul {
			visibility: visible;
		}
	}
}

// An animation to fade the nav lists in.
%dropdown-style-fade {
	li {
		ul {
			opacity: 0;
			-webkit-transition: visibility 0s .5s, opacity .25s ease-in .25s;
		}
		
		&:hover > ul,
		&.target > ul {
			opacity: 1;
			-webkit-transition: visibility 0s 0s, opacity .25s ease-out 0s;
		}
	}
}

// Make a dropdown nav list be equal widths.
%dropdown-fit-width {
	display: table;
	table-layout: fixed;
	width: 100%;
	
	> li {
		display: table-cell;
	}
}