.ui-toggle {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.video-container {
	box-sizing: content-box;
	height: 0; 
	overflow: hidden;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; 
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

form {
}

.button {
	@include rem('padding', 2px 10px);
	
	background: #EFEFEF;
	display: inline-block;
	text-decoration: none;
}

.callout {
	@include rem('padding', 10px);
	
	background: #E0E0E0;
}

.skate {
	@include rem('padding', 10px);
	
	border: 1px dotted gray;
}

.alignleft {
	text-align: left;
}

img.alignleft {
	display: block;
	float: left;
}

.alignright {
	text-align: right;	
}

img.alignright {
	display: block;
	float: right;
}

.aligncenter {
	text-align: center;	
}

img.aligncenter {
	display: block;
	margin: auto;
}

.alignleft {
	@include rem('margin-bottom', $body-line-height-px);
}

.alignright {
	@include rem('margin-bottom', $body-line-height-px);
}

@media (min-width: 53em) {
	.alignleft,
	.wp-caption.alignright {
		float: left;
		@include rem('margin-right', $body-line-height-px);
	}
	
	.alignright,
	.wp-caption.alignright {
		float: right;
		@include rem('margin-left', $body-line-height-px);
	}
}

.wp-caption[style] {
	background: transparent;
	border: 0;
	@include rem('margin-bottom', $body-line-height-px);
	max-width: 100%;
	padding: 0;
	
	@media (min-width: 34em) {
		width: 100%;
	}
	
	img {
		max-width: 100%;
	}
	
	p.wp-caption-text {
		font-size: .75em;
		line-height: 1.5;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.main img {
	height: auto;
	max-width: 100%;
}

// Calculate the gutter width.
$gutter: ($column-master-gutter-width/$column-master-outer-width)*100*1%;

.gallery {
	@include ugly-clearfix;
	
	margin-left: 0-$gutter;
	
	> * {
		display: block;
		float: left;
		margin-left: $gutter;
	}
				
	img {
		display: block;
		height: auto;
		width: 100%;
	}
	
	@for $i from 1 to 11 {
		
		&.gallery-columns-#{$i} {
			> * {
				width: (100/$i)*1%-$gutter;
			}
		}
	}
}

@-webkit-keyframes system-notification-swap {
    0% {
        -webkit-transform: translateY(100%);
    }

    10% {
        -webkit-transform: translateY(0px);
    }
    
    90% {
        -webkit-transform: translateY(0px);
    }
    
    100% {
        -webkit-transform: translateY(100%);
    }
}

@-moz-keyframes system-notification-swap {
    0% {
        -moz-transform: translateY(100%);
    }

    10% {
        -moz-transform: translateY(0px);
    }
    
    90% {
        -moz-transform: translateY(0px);
    }
    
    100% {
        -moz-transform: translateY(100%);
    }
}

@-ms-keyframes system-notification-swap {
    0% {
        -ms-transform: translateY(100%);
    }

    10% {
        -ms-transform: translateY(0px);
    }
    
    90% {
        -ms-transform: translateY(0px);
    }
    
    100% {
        -ms-transform: translateY(100%);
    }
}

@keyframes system-notification-swap {
    0% {
        transform: translateY(100%);
    }

    10% {
        transform: translateY(0px);
    }
    
    90% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(100%);
    }
}


.system-notification {
	@include rem('font-size', 14px);
	
	-webkit-animation: system-notification-swap .5s ease .5s 1 normal normal;
	-moz-animation: system-notification-swap .5s ease .5s 1 normal normal;
	-ms-animation: system-notification-swap .5s ease .5s 1 normal normal;
	animation: system-notification-swap .5s ease .5s 1 normal normal;
	background: #FFFCDB;
	border-top: 1px solid #CFCA99;
	bottom: 0;
	color: #666;
	color: rgba(0, 0, 0, .75);
	padding: 10px;
	position: fixed;
	text-align: center;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	width: 100%;
	z-index: 999;
	
	&:first-letter {
		font-size: 1.2em;
		vertical-align: bottom;
	}
}

.page-navigate {
	
	@include dropdown(fit);
	
	> li {
		text-align: center;
	}
	
	> li > a,
	> li > span {
		display: block;
	}
		
	> li.page-previous {
		 > a,
		 > span {
			 text-align: left;
		}
	}
		
	> li.page-next {
		> a,
		> span {
			text-align: right;
		}
	}
	
	&:last-child {
		border-bottom: 0;
	}
	
	@include media-max(small) {
		> li.page-number {
			display: none;
		}
		> li.page-number-current {
			display: table-cell;
			
			span:before {
				content: 'Page '
			}
		}
	}
}

.flexible-accordion-list dd {
	display: none;
}

.flexible-accordion-list dt.target + dd {
	display: block;
}

.flexible-accordion-list dt:target + dd {
	display: block;
}

[class*="slide-toggle-"] {
	clip: auto;
	height: 0;
	position: absolute;
	width: 0;
}

.flexible-gallery-item {
	@include rem(margin-bottom, $body-line-height-px);
	width: 100%;
	
	img {
		display: block;
		height: auto;
		width: 100%;
	}
	
	figcaption {
		@include rems((padding-top: $body-line-height-px, padding-bottom: $body-line-height-px));
	}
}

.flexible-gallery-container {
	
	$trans-time: .5s;
	
	@include rem(margin-bottom, $body-line-height-px);
	overflow: hidden;
	position: relative;
	z-index: inherit;
	
	> figcaption {
		text-align: center;
		
		ul, 
		li {
			display: inline-block;
			list-style: none;
			margin: auto;
			padding: 0;
		}
		
		label {
			background: #666;
			border-radius: 100%;
			clip: auto;
			cursor: pointer;
			display: inline-block;
			height: 1em;
			margin: 0 .5em;
			opacity: .5;
			overflow: hidden;
			position: relative;
			text-indent: 110%;
			transition: all $trans-time ease;
			width: 1em;
			
			&:hover {
				opacity: .75;
			}
		}
	}
	
	.flexible-gallery-item {
		left: 0;
		margin-bottom: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity $trans-time 0s, z-index 0s 0s, visibility 0s $trans-time+.1s;
		visibility: hidden;
		z-index: 1;
	}
	
	@for $slide_count from 0 through 25 {
		.slide-toggle-#{$slide_count}:checked ~ .slide-target-#{$slide_count} {
			opacity: 1;
			position: relative;
			transition: opacity $trans-time 0s, z-index 0s 0s, visibility 0s 0s;
			visibility: visible;
			z-index: 2;
		}
		
		.slide-toggle-#{$slide_count}:checked ~ figcaption .slide-indicator-#{$slide_count} label {
			opacity: 1;
		}
	}
}