// Reset

@-webkit-viewport {
	user-zoom: fixed;
	width: device-width;
	zoom: 1.0;
}

@-moz-viewport {
	user-zoom: fixed;
	width: device-width;
	zoom: 1.0;
}

@-ms-viewport {
	user-zoom: fixed;
	width: device-width;
	zoom: 1.0;
}

@viewport {
	user-zoom: fixed;
	width: device-width;
	zoom: 1.0;
}

*, *:before, *:after {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
	font-size: rootRemPercent($root-font-px);
}
body {
	line-height: 1;
	-webkit-font-feature-settings: "kern" "liga";
	-moz-font-feature-settings: "kern" "liga";
	-ms-font-feature-settings: "kern" "liga";
	font-feature-settings: "kern" "liga";
	text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Normalize.

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 700;
}

i,
em,
dfn {
    font-style: italic;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

mark {
    background: #ff0;
    color: #000;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

pre {
    white-space: pre-wrap;
}

q,
q:lang(en) {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

fieldset {
    border: 1px solid #c0c0c0;
    padding: .5em;
	@include rem('margin-bottom', $body-line-height-px);
}

legend {
	margin-left: 1em;
	padding: 0px 1em;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

button,
input {
    line-height: normal;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

// Set sane defaults.

body {
	background: #FFF;
	color: #333;
	@include rem('line-height', $body-line-height-px);
	@include rem('font-size', $body-font-size-px);
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	-ms-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
}

form, table, ul, ol, p {
	@include rem('margin-bottom', $body-line-height-px);
}

ol, ul, blockquote {
	padding-left: 2em;
}

ol {
	list-style-type: decimal;
}

ul {
	list-style-type: circle;
}

table {
	width: 100%;
}

th {
	font-weight: 700;
}

th, td {
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	text-transform: uppercase;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

body > header h1 {
	margin: 0;
}

nav ul {
	list-style:none;
	margin-bottom: 0;
	padding: 0;
}

.grid-item {
	background: rgba(0, 0, 255, .25);
	position: absolute;
	z-index: 201;
}

.grid-item:nth-child(even) {
	background: rgba(0, 0, 255, .1);
}

.grid-item.vertical {
	height: 100%;
	top: 0;
	width: 1px; 
}

.grid-item.horizontal {
	height: 1px;
	left: 0;
	width: 100%;
}

.frontload {
	@extend %frontload;
}

.admin-bar {
	margin-top: 28px;
}

#apple-standalone-startup-image {
	background-size: cover;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	
	img {
		display: block;
		width: 100%;
	}
}