// This is used to generate a percent of 16px on the html element so you can properly use @include rem().
$root-font-px: 10px;

// This is used to generate a vertical rhythm.
$body-font-size-px: 12px;
$body-line-height-px: 16px;

// Column-related settings.  
// Wrap columns in div.columns (usually) then use div.column-X on children columns.
// X can be: 10 to 100 in increments of 5, 33, or 55.  X represents a column width percentage.
// Also has .offset-X, .push-X, and .pull-X.
// Use the .no-gutter class on the containing row to remove the gutter.
$column-master-outer-width: 1200px; // Used to convert columns to percents.
$column-master-gutter-width: 30px; // The column gutter in pixels.
$column-create-classes: 25 33 50 66 75 100; // To save file size, pick which percentages to make classes.

// Determine large, medium, small sizes.  Anything over large is "normal" desktop size.
// This is used for classes .medium-to-X, .medium-to-gutter, small-to-100  classes and use mixins for media-max, media-min, media-range.
// You can add your own, like xlarge: 1200 would add .xlarge-to-X, .xlarge-to-gutter.
$break-points: (large: 1024px, medium: 768px, small: 480px);
