// This is used to generate a percent of 16px on the html element so you can properly use @include rem().
$root-font-px: 10px;

// This is used to generate a vertical rhythm.
$body-font-size-px: 12px;
$body-line-height-px: 16px;

// Column-related settings.  
$column-master-outer-width: 960px; // Used to convert columns to percents.
$column-master-gutter-width: 30px; // The column gutter in pixels.
$column-count: 12; // The number of columns in the grid.

// This is used for media queries if you use the mixins @media-max, @media-min, @media-range, and @media-outer-range.
// You can add your own, like xlarge: 1200px.
$break-points: (large: 1024px, medium: 768px, small: 568px);

// Some default fonts
$font-copy: sans-serif;
$font-headers: serif;
$font-mono: monospace, serif;