body {
	@include media-max(small) {
		@include rems((padding-top: $body-line-height-px*2));
		
		&.admin-bar {
			margin-top: 0;
		}
	}
	
	> header,
	> nav,
	> section,
	> footer
	{
		@include rems((padding: 0 20px));
		@include row(no-float);
		
		max-width: 1400px;
	}
	
	> nav {
		padding: 0;
	}
}

a {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}

h1, h2, h3, h4 {
	a {
		color: inherit;
		text-decoration: none;
	}
}

#logo {
	@include rems(
		(
			font-size: $body-font-size-px*2, 
			line-height: $body-line-height-px*2,
			padding: $body-line-height-px 0
		)
	);
	
	a {
		text-decoration: none;
	}
	
	@include media-max(small) {
		@include rems((font-size: $body-font-size-px*1.5));
		
		color: #FFF;
		padding: 0;
		position: fixed;
		top: 0;
		z-index: 100;
	}
}

#navigation,
div.nav-header {
	background: #666;
	position: relative;
	z-index: 99;
	
	@include media-max(small) {
		@include rems((min-height: $body-line-height-px*2));
		
		position: fixed;
		top: 0;
		width: 100%;
	}
	
	> ul {
		@include dropdown(fade fit);
		@include rems((padding: 0 10px));
		
		background: #666;
		
		@include media-max(small) {
			display: block;
			height: 0;
			overflow: hidden;
			position: absolute;
			-webkit-transition: height ease .5s;
			-moz-transition: height ease .5s;
			-ms-transition: height ease .5s;
			transition: height ease .5s;
			
			> li:first-child {
				@include rems((margin-top: $body-line-height-px*2));
			}
			
			> li {
				display: block;
				
				&:hover ul {
					display: none;
				}
			}
		}
	}
	
	ul {
		background: #666;
		
		a {
			@include rems((padding: 3px 10px));
			color: #FFF;
			display: block;
			min-width: 100%;
			text-decoration: none;
			
			&:hover,
			&:focus {
				background: #333;
			}
		}
		
		li:hover > a,
		li:focus > a {
				background: #333;
		}
	}
}

.hamburger {
	@include rems((font-size: $body-font-size-px*2, right: 20px, top: 4px));
	
	display: none;
	height: 1em;
	line-height: 1em;
	overflow: hidden;
	position: absolute;
	text-indent: 1em;
	white-space: nowrap;
	width: 1em;
	z-index: 101;
	
	&:before {
		color: #FFF;
		content: '≡';
		display: block;
		font-size: 1.5em;
		height: 100%;
		line-height: .45;
		left: 0;
		position: absolute;
		text-align: center;
		text-indent: 1px;
		width: 100%;
		
		-webkit-font-smoothing: antialiased;
	}
	
	+ .hamburger:before {
		content: '×';
		font-size: 1em;
		line-height: 1;
	}
	
	@include media-max(small) {
		display: block;
		
		+ .hamburger{
			display: none;
		}
	}
}

@include media-max(small) {
	%navtarget {
		.hamburger {
			display: none;
		}
		
		.hamburger + .hamburger {
			display: block;
		}
		
		> ul {
			@include rems((height: $body-line-height-px*20));
		}
	}
	#navigation.target {
		@extend %navtarget;
	}
	
	#navigation:target {
		@extend %navtarget;
	}
}

#footer {
	@include rems((padding: 20px 20px));
	background: #DDD;
	
	a {
		color: inherit;
		text-decoration: none;
	}
	
	> section {
		@include col(50);
		float: left;
		
		@include media-max(medium) {
			@include col(100);
			@include rems((margin-bottom: $body-line-height-px*2));
			
			float: none;
		}
		
		nav > ul {
			display: table;
			
			a {
				padding: 0 1em;
			}
			
			> li {
				display: table-cell;
				
				> a {
					font-weight: bold;
				}
				
				> ul {
					display: block;
					padding-right: .5em;
					position: relative;
					visibility: visible;
					
					ul {
						display: none;
					}
				}
			}
		}
		
		&.vcard ul {
			@include dropdown(fit);
		}
	}
}

.main {
	@include rems((padding-bottom: $body-line-height-px, padding-top: $body-line-height-px));
	
	h1, h2 {
		@include rems((font-size: $body-font-size-px*2, line-height: $body-line-height-px*2));
	}
	
	article > section {
		@include rems((margin-bottom: $body-line-height-px*2));
		
		h1, h2 {
			@include rems((font-size: $body-font-size-px, line-height: $body-line-height-px));
			
			border-bottom: 1px solid silver;
			font-weight: bold;
		}
	}
	
	> article > header > figure {
		@include rems((margin-bottom: $body-line-height-px));
		
		@include media-max(small) {
			@include rems((margin: 0-$body-line-height-px -20px $body-line-height-px -20px));
		}
	}
}

.flexible-accordion-list {
	border: 1px solid #CCC;		
	border-radius: .25em;
	background: #EFEFEF;
	
	dt {
		border-top: 1px solid #CCC;
		
		&:first-child {
			border-top: 0;
		}
		
		a {
			display: block;
			padding: .5em .5em;
			text-decoration: none;
			
			&:hover,
			&:focus {
				background: rgba(0, 0, 0, .05);
			}
		}
		a:before {
			content: '⊕ ';
			font-size: 1.2em;
		}
		
		&:target a:before {
			content: '⊖ ';
		}
		
		&.target a:before {
			content: '⊖ ';
		}
	}
	
	dd {
		padding: 1em 1.5em;
	}
	
}

.flexible-link_list,
.flexible-section_navigation {
	.flexible-links-list,
	.flexible-section-navigation {
		@include unlist;
		@include rems((margin-bottom: $body-line-height-px));

		border: 1px solid #CCC;		
		border-radius: .25em;
		background: #EFEFEF;
		
		li {
			border-top: 1px solid #CCC;
			
			&:first-child {
				border-top: 0;
			}
		}
		
		a {
			display: block;
			padding: .5em .5em;
			text-decoration: none;
			
			&:hover,
			&:focus {
				background: rgba(0, 0, 0, .05);
			}
		}	
		a:before {
			content: '→ ';
		}	
	}
}

.share-container {
	h1,
	div,
	ul,
	li {
		display: inline-block;
		font-size: 1em;
		list-style: none;
		margin: auto;
		padding: 0;
		text-transform: none;
	}
	
	h1:after {
		content: ': ';
	}
	
	a {
		display: inline-block;
		margin-left: 1em;
	}
}