.launchpad-metabox-field {
	margin-bottom: 1em;
	
	label {
		display: block;
	}

	input[type=text],
	select {
		display: block;
		width: 100%;
	}
}

table.launchpad-metabox-table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}

table.launchpad-metabox-table caption {
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
	font-size: 15px;
	padding: 1em;
}
table.launchpad-metabox-table th {
	border-bottom: 1px solid #21759B;
}

table.launchpad-metabox-table th,
table.launchpad-metabox-table td {
	padding: 5px;
	text-align: center;
}

.launchpad-align-right {
	text-align: right;
}

.launchpad-subfield {
	display: block;
	margin-bottom: 14px;
	width: 25em;
	
	input, select, textarea {
		display: block;
		width: 100%;
	}
	
	input[type=checkbox],
	input[type=radio] {
		display: inline-block;
		width: auto;
	}
}

.launchpad-subfield + .launchpad-block {
	margin-bottom: 14px;
	margin-top: -10px;
}

.launchpad-block {
	display: block;
	font-weight: normal;
}

.launchpad-inline {
	display: inline-block;
	font-weight: normal;
}

small.launchpad-inline {
	margin-left: .5em;
}

.launchpad-subfield.phone-number {
	float: left;
	margin-right: 1em;
	width: 12em;
}
.launchpad-subfield.fax-number {
	float: left;
	width: 12em;
}

.launchpad-subfield.street-address {
	clear: both;
}

.launchpad-subfield.city {
	float: left;
	margin-right: 1em;
	width: 12em;
}

.launchpad-subfield.state {
	float: left;
	margin-right: 1em;
	width: 6em;
}
.launchpad-subfield.zip {
	float: left;
	width: 4em;
}

.launchpad-delete-file {
	background: #EFEFEF;
	border: 1px solid silver;
	display: block;
	margin-top: .5em;
	padding: 1em;
	padding-top: 2em;
	position: relative;
	text-align: center;
}

.launchpad-delete-file:before {
	color: #000;
	content: '× Click To Remove';
	display: block;
	font-size: 10px;
	line-height: 1.5em;
	padding: 0px 5px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
}

.launchpad-delete-file > * {
	height: auto;
	max-width: 150px;
	width: auto;
}

.launchpad-full-button {
	display: block;
	width: 100%;
}

.launchpad-help-container {
	
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-left: 0;
		
		p {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
	
}

.launchpad-inline-help {
	font-size: 10px;
	position: relative;

	span {
		background: #EFEFEF;
		border: 1px solid silver;
		border-radius: 1.5em;
		color: gray;
		cursor: help;
		display: inline-block;
		float: right;
		position: relative;
		font-weight: bold;
		height: 1.5em;
		line-height: 1.5em;
		margin-left: 1em;
		text-align: center;
		width: 1.5em;
		z-index: 5;
	}
	
	div {
		background: #EFEFEF;
		border: 1px solid silver;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, .25);
		display: none;
		font-size: 10px;
		padding: 15px;
		position: absolute;
		right: -10px;
		top: 1.75em;
		width: 90%;
		z-index: 10;
		
		&:before {
			border-color: transparent transparent silver transparent;
			border-style: solid;
			border-width: 0 5px 5px 5px;
			content: '';
			height: 0px;
			position: absolute;
			right: 12px;
			top: -5px;
			width: 0px;
		}
		
		&:after {
			border-color: transparent transparent #EFEFEF transparent;
			border-style: solid;
			border-width: 0 4px 4px 4px;
			content: '';
			height: 0px;
			position: absolute;
			right: 13px;
			top: -4px;
			width: 0px;
		}
		
		p {
			margin-bottom: 1em;
			margin-top: 0;
		}
		
		:last-child {
			margin-bottom: 0;
		}
	}
	
	span:hover + div {
		display: block;
	}
}