.launchpad-metabox-field {
	margin-bottom: 1em;
	
	label {
		display: block;
	}

	input[type=text],
	select {
		display: block;
		width: 100%;
	}
}

table.launchpad-metabox-table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}

table.launchpad-metabox-table caption {
	font-family: Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
	font-size: 15px;
	padding: 1em;
}
table.launchpad-metabox-table th {
	border-bottom: 1px solid #21759B;
}

table.launchpad-metabox-table th,
table.launchpad-metabox-table td {
	padding: 5px;
	text-align: center;
}

.launchpad-align-right {
	text-align: right;
}

.launchpad-subfield {
	display: block;
	margin-bottom: 14px;
	width: 25em;
	
	&.launchpad-field-launchpad_flexible {
		width: auto;
	}
	
	input, select, textarea {
		display: block;
		width: 100%;
	}
	
	input[type=checkbox],
	input[type=radio] {
		display: inline-block;
		width: auto;
	}
}

.launchpad-subfield + .launchpad-block {
	margin-bottom: 14px;
	margin-top: -10px;
}

.launchpad-block {
	display: block;
	font-weight: normal;
}

.launchpad-inline {
	display: inline-block;
	font-weight: normal;
}

small.launchpad-inline {
	margin-left: .5em;
}

.launchpad-subfield.phone-number {
	float: left;
	margin-right: 1em;
	width: 12em;
}
.launchpad-subfield.fax-number {
	float: left;
	width: 12em;
}

.launchpad-subfield.street-address {
	clear: both;
}

.launchpad-subfield.city {
	float: left;
	margin-right: 1em;
	width: 12em;
}

.launchpad-subfield.state {
	float: left;
	margin-right: 1em;
	width: 6em;
}
.launchpad-subfield.zip {
	float: left;
	width: 4em;
}

.launchpad-delete-file {
	background: #EFEFEF;
	border: 1px solid silver;
	display: block;
	margin-top: .5em;
	padding: 1em;
	padding-top: 2em;
	position: relative;
	text-align: center;
}

.launchpad-delete-file:before {
	color: #000;
	content: '× Click To Remove';
	display: block;
	font-size: 10px;
	line-height: 1.5em;
	padding: 0px 5px;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
}

.launchpad-delete-file > * {
	height: auto;
	max-width: 150px;
	width: auto;
}

.launchpad-full-button {
	display: block;
	width: 100%;
}

.launchpad-help-container {
	
	dt {
		font-weight: bold;
		margin-bottom: .5em;
	}
	
	dd {
		border-left: 5px solid rgba(0, 0, 0, .05);
		margin-left: 0;
		padding-left: 1em;
		
		dl {

		}
		
		p {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}
	
}

.launchpad-inline-help {
	font-size: 11px;
	position: relative;
	
	* {
		font-size: 11px;
	}

	span {
		background: #EFEFEF;
		border: 1px solid silver;
		border-radius: 1.5em;
		color: gray;
		cursor: help;
		display: inline-block;
		float: right;
		position: relative;
		font-weight: bold;
		height: 1.5em;
		line-height: 1.5em;
		margin-left: 1em;
		text-align: center;
		width: 1.5em;
		z-index: 5;
	}
	
	div {
		background: #EFEFEF;
		border: 1px solid silver;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, .25);
		display: none;
		font-size: 10px;
		padding: 15px;
		position: absolute;
		right: -10px;
		top: 2.25em;
		width: 300px;
		z-index: 10;
		
		&:before {
			border-color: transparent transparent silver transparent;
			border-style: solid;
			border-width: 0 5px 5px 5px;
			content: '';
			height: 0px;
			position: absolute;
			right: 12px;
			top: -5px;
			width: 0px;
		}
		
		&:after {
			border-color: transparent transparent #EFEFEF transparent;
			border-style: solid;
			border-width: 0 4px 4px 4px;
			content: '';
			height: 0px;
			position: absolute;
			right: 13px;
			top: -4px;
			width: 0px;
		}
		
		p {
			margin-bottom: 1em;
			margin-top: 0;
		}
		
		:last-child {
			margin-bottom: 0;
		}
		
		dt {
			display: run-in;
			font-weight: bold;
			
			&:after {
				content: ': ';
			}
		}
		
		dd {
			margin-left: 0;
		}
	}
	
	span:hover + div {
		display: block;
	}
}

.launchpad-flexible-add {

	&:after {
		clear: both;
		content: '';
		display: table;
		
	}
	
	div {
		float: right;
		padding-top: 1em;
		position: relative;
		
		&:hover ul {
			display: block;
		}
	}
	
	ul {
		background: #EFEFEF;
		border: 1px solid silver;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, .1);
		display: none;
		padding: 10px 0;
		position: absolute;
		right: 0;
		bottom: 1.75em;
		min-width: 300px;
		z-index: 10;
		
		&:before {
			border-color: silver transparent transparent transparent;
			border-style: solid;
			border-width: 5px 5px 0 5px;
			content: '';
			height: 0px;
			position: absolute;
			right: 12px;
			bottom: -5px;
			width: 0px;
		}
		
		&:after {
			border-color: #EFEFEF transparent transparent transparent;
			border-style: solid;
			border-width: 4px 4px 0 4px;
			content: '';
			height: 0px;
			position: absolute;
			right: 13px;
			bottom: -4px;
			width: 0px;
		}
		
		li {
			display: block;
			margin: 0;
		}
		
		a {
			display: block;
			padding: 5px 10px;
		}
	}
}

.launchpad-flexible-container-placeholder {
	border: 5px dashed gray;
	margin: 2em 1em;
}

.launchpad-flexible-metabox-container {
	background: #FDFDFD;
	border: 1px solid #DDD;
	margin: 2em 1em;
	padding-bottom: 1em;
	
	&.closed {
		height: 22px;
		overflow: hidden;
		
		.handlediv::before {
			content: '\f140' !important;
		}
	}
	
	> .launchpad-inline-help {
		display: inline-block;
		float: left;
		margin-right: 1em;
		margin-top: .75em;
		
		div {
			left: 0px;
			right: auto;
			
			&:before {
				left: 12px;
				right: auto;
			}
			
			&:after {
				left: 13px;
				right: auto;
			}
		}
	}
	
	.launchpad-flexible-metabox-close {
		color: inherit;
		float: right;
		font-size: 14px;
		line-height: 36px;
		margin-right: 1em;
		text-align: center;
		text-decoration: none;
		width: 2em;
	}
	
	h3 {
		margin-bottom: 3em;
	}
	
	.launchpad-metabox-field {
		padding: .5em 2em;
	}
}

.launchpad-repeater-container {
	margin: .5em -2em;
	
	.launchpad-inline-help + & {
		clear: both;
	}
	
	.launchpad-repeater-metabox-container {
		margin: 0;
		margin-bottom: -1px;
	}
}

.launchpad-repeater-container div:first-child .launchpad-flexible-metabox-close {
	display: none;
}


.launchpad-repeater-container.launchpad-metabox-field + .launchpad-repeater-container.launchpad-metabox-field {
	border-top: 1px solid #DDD;
	padding-top: 1em;
}

.launchpad-editor-loading {
	background: #EFEFEF url(/images/admin_loading.gif) no-repeat center;
	height: 300px;
	
	* {
		display: none;
	}
}

.launchpad-relationship-container {
	background: #FFF;
	border: 1px solid #DDDDDD;
	margin-top: .5em;
	overflow: hidden;
	
	> * {
		box-sizing: border-box;
		float: left;
		padding: 1em;
		width: 50%;
		
		&:last-child {
			margin-right: 0;
		}
		
		#side-sortables & {
			float: none;
			margin-right: auto !important;
			width: auto;
		}
	}
	
	input[type=search] {
		border-radius: 2em;
		display: block;
		margin: 0;
		padding-left: 1em;
		width: 100%;
	}
	
	.launchpad-relationship-search {
		background: #EFEFEF;
		border-right: 1px solid #DDDDDD;
		
		> label {
			display: block;
			height: 2.25em;
			margin: 0;
			margin-bottom: .5em;
		}
		
		a:before {
			content: '\f502';
			display: inline-block;
			font-family: dashicons;
			font-size: .75em;
			margin-right: 1em;
		}

	}
	
	.launchpad-relationship-items-container {
		box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .05);
		
		> strong {
			display: block;
			line-height: 2.25em;
			margin: 0;
			margin-bottom: .5em;
		}
		
	}
	
	ul {
		height: 150px;
		margin: 0em -1em;
		overflow: auto;
		position: relative;
		
		li {
			background: rgba(0, 0, 0, 0);
			margin: 0;
			-webkit-transition: background .5s ease;
			-moz-transition: background .5s ease;
			-ms-transition: background .5s ease;
			transition: background .5s ease;
		}
		
		li a {
			display: block;
			line-height: 2em;
			padding: 0 1em;
			text-decoration: none;
		}
		
		li:nth-child(even) {
			background: rgba(0, 0, 0, .05);
		}
	}
	
	small {
		float: right;
		color: rgba(0, 0, 0, .25);
	}
}